header {
    background-color: #c7c7c7; /* Adjust background color as needed */
    padding: 10px;
    position: sticky;
    top: 0;
    margin-bottom: 0;
    z-index: 1;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: large;
    align-items: center;
   
  }
  
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  .navbar .nav-links li {
    margin-right: 20px;
  }
 
  
  /* Logout Button */
  


/* CSS */
.button-32 {
  background-color: #f5620d;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 10px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-32:not(:disabled):hover,
.button-32:not(:disabled):focus {
  outline: 0;
  background: #f8b435;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button-32:disabled {
  filter: saturate(0.2) opacity(0.5);
  -webkit-filter: saturate(0.2) opacity(0.5);
  cursor: not-allowed;
}