header {
    background-color: #c7c7c7; /* Adjust background color as needed */
    padding: 10px;
    position: sticky;
    top: 0;
    margin-bottom: 0;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   
  }
  
  .navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar .nav-links li {
    margin-right: 20px;
  }
  
  